p
{
    color: rgb(99, 235, 133);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.external
{
    color: rgb(67, 82, 167);
    font-size:large;
    background-color: black;
}
.one
{
    border: 5px solid black;
}
*
{
    background-color: rgb(167, 230, 241);
}